@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'Red Hat Text';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf');
  }
  html {
    font-family: 'Red Hat Text', sans-serif;
  }
  body {
    background-color: var(--color-background);
  }
}

@theme {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
  --color-background: #fcf8f5;
  --color-text-color: #c83b0e;
  --color-icon-remove: #caafa7;
  /* --color-background: hsl(26, 54% 97%); */
}
